* @opereztuta

/.github/workflows/ @opereztuta
/scripts/ @opereztuta
/english-for-ai-course/interactives/e4a_colab.py @opereztuta
/LICENSE.md @opereztuta
/THIRD_PARTY_NOTICES.md @opereztuta
/README.md @opereztuta
/SECURITY.md @opereztuta
/CONTRIBUTING.md @opereztuta
